apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-yogoulgu
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-yogoulgu:2048ae1a99dfd81ad79bc112c3a45ee6bf7174cf@sha256:f463b42acec1454c765987ac4620c38dfe97ec9c7d8a24a83fd8921fc37f2811
        name: container-image  
